
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../Content/res/layui/css/layui.css">
    <link rel="stylesheet" href="../Content/res/static/css/index.css">
</head>
<body>
    <!-- banner部分 -->
    <div class="banner news"style="margin-top:0;">
        <div class="title">
            <p>社区公告</p>
            <p class="en">Community announcement</p>
        </div>
    </div>
    <!-- main -->
    <div class="main-news">
        <div class="layui-container">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-lg6 content">
                    <div>
                        <div class="news-img"><a href="#"><img src="../Content/res/static/img/news_img1.jpg"></a></div><div class="news-panel">
                            <strong><a href="#">及时报备的通知</a></strong>
                            <p class="detail"><span>
    尊敬的业主：
    您好，因疫情原因，业主您或您亲戚、朋友从外省或国外回来的，如湖北、武汉、黑龙江……请您及时联系物业或社区，请相互转告，相互监督，给你带来便，请您谅解，感谢您的配合！
</span><a href="#">[详细]</a></p>
                            <p class="read-push">阅读 <span>120</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2020-4-22 10:36:20</span></p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg6 content">
                    <div>
                        <div class="news-img"><a href="#"><img src="../Content/res/static/img/news_img1.jpg"></a></div><div class="news-panel">
                            <strong><a href="#">绿化修剪、治虫的公告</a></strong>
                            <p class="detail"><span>
    尊敬业主、租户
    您好，绿化维保单位本月26日（周日）对树木进行修剪，同时进行治虫，请业主们不要触摸树叶、花木，注意安全。谢谢配合。
</span><a href="#">[详细]</a></p>
                            <p class="read-push">阅读 <span>835</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2020-4-22 10:48:07</span></p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg6 content">
                    <div>
                        <div class="news-img"><a href="#"><img src="../Content/res/static/img/news_img1.jpg"></a></div><div class="news-panel">
                            <strong><a href="#">有序停放车辆的通知</a></strong>
                            <p class="detail"><span>
    尊敬的业主：
    您好！为了您和他人的畅通出行，请勿将您的电动车、自行车停放在单元门口及过道内。请您将车辆停放至负一楼车库，临时访客的车辆请停放至负一楼车库或物业指定的临时停放点，感谢您的配合！
</span><a href="#">[详细]</a></p>
                            <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2020-04-20 23:06</span></p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg6 content">
                    <div>
                        <div class="news-img"><a href="#"><img src="../Content/res/static/img/news_img1.jpg"></a></div><div class="news-panel">
                            <strong><a href="#">小区停水的通知</a></strong>
                            <p class="detail"><span>
    尊敬的小区业主:
    您好!接自来水公司通知，因润扬路施工改造，定于4月2日晚上10点至4月3日早上8点对本小区停水，请各位业主做好蓄水准备，请相互转告！特此通知！
</span><a href="#">[详细]</a></p>
                            <p class="read-push">阅读 <span>3131</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2020-4-7 17:15:09</span></p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg6 content">
                    <div>
                        <div class="news-img"><a href="#"><img src="../Content/res/static/img/news_img1.jpg"></a></div><div class="news-panel">
                            <strong><a href="#">配合疫情检查的通知</a></strong>
                            <p class="detail"><span>
    尊敬的小区业主：
    您好!现部分单位已经陆续复工了，各位业主请人员做工有事的，要求工人主动到小区南门登记测量体温，请主动扫健康码，服从管理规定， 特别是要装修人员请本地的工人，人数请控制在4人以下，感谢支持...
</span><a href="#">[详细]</a></p>
                            <p class="read-push">阅读 <span>112</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2020-3-20 15:44:47</span></p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg6 content">
                    <div>
                        <div class="news-img"><a href="#"><img src="../Content/res/static/img/news_img1.jpg"></a></div><div class="news-panel">
                            <strong><a href="#">疫情期间安全的通知</a></strong>
                            <p class="detail"><span>
    尊敬的各位业主：
    大家好！目前处于疫情的关键时刻，很多学生都在等学校复课，园区的很多孩子闲暇时喜欢骑平衡车，平衡车的速度比较快，存在很多安全隐患， 尤其是在小区内，人流量多车流量也多...
</span><a href="#">[详细]</a></p>
                            <p class="read-push">阅读 <span>3874</span>&nbsp;&nbsp;&nbsp;&nbsp;发布时间：<span>2020-3-18 15:06:15</span></p>
                        </div>
                    </div>
                </div>
             
            </div>
            <div id="newsPage"></div>
        </div>
    </div>
    <script src="../Content/res/layui/layui.js"></script>
    <script>
  layui.config({
    base: '../Content/res/static/js/'
  }).use('firm');
    </script>

</body>
</html>