
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComplaAdd</title>
    @Styles.Render("~/table/css")
    <style>

        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">操作员</label>
            <div class="layui-input-block">
                <input type="text" name="AdminName" lay-verify="required" class="layui-input" value="@ViewBag.userName" readonly="readonly" style="color:red;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">类型</label>
            <div class="layui-input-block">
                <select name="CompType" id="CompTypeID">
                    <option value=建议 selected="selected">建议</option>
                    <option value=投诉>投诉</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">房屋编号</label>
            <div class="layui-input-block">
                <select name="HousID" id="HousID">
                    @foreach (var item in ViewBag.Hous)
                    {
                        <option value=@item.HousID>@item.HousID</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="Phone" lay-verify="required|phone" lay-reqtext="手机号码不能为空" placeholder="请输入手机号码" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">内容</label>
            <div class="layui-input-block">
                <textarea name="Contents" class="layui-textarea" lay-verify="required" placeholder="请输入投诉或建议内容"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label ">备注</label>
            <div class="layui-input-block">
                <textarea name="Remarks" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认添加</button>
            </div>
        </div>
    </div>
    @Scripts.Render("~/table/js")
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form

             //监听提交
            form.on('submit(saveBtn)', function (data) {

                var ComplaInfoJson = JSON.stringify(data.field);
                $.ajax({
                    url: '/ComplaInfo/ComplaInfoAdd',
                    type: 'POST',
                    data: {
                        ComplaInfoJson: ComplaInfoJson
                    },

                    success: function (data) {
                        if (data == "ok") {
                            layer.alert("添加成功");
                        }
                        else {
                            alert("添加失败，请重新添加！");
                        }
                    }
                })
                return false;
            });

        });
    </script>
</body>
</html>
